[submodule "indices/lipp"]
	path = indices/lipp
	url = https://github.com/Jiacheng-WU/lipp.git
[submodule "indices/DILI"]
	path = indices/DILI
	url = https://github.com/pfl-cs/DILI.git
[submodule "indices/DeLI"]
	path = indices/DeLI
	url = git@github.com:mattiaodorisio/DeLI.git
[submodule "indices/PGM-index"]
	path = indices/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "indices/RadixSpline"]
	path = indices/RadixSpline
	url = https://github.com/learnedsystems/RadixSpline.git
[submodule "indices/tlx"]
	path = indices/tlx
	url = https://github.com/tlx/tlx.git
[submodule "indices/unordered_dense"]
	path = indices/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "indices/sea21-predecessor"]
	path = indices/sea21-predecessor
	url = https://github.com/pdinklag/tdc.git
	branch = sea21-predecessor
