[submodule "indices/ALEX"]
	path = indices/ALEX
	url = https://github.com/microsoft/ALEX.git
[submodule "indices/lipp"]
	path = indices/lipp
	url = https://github.com/Jiacheng-WU/lipp.git
[submodule "indices/DILI"]
	path = indices/DILI
	url = https://github.com/pfl-cs/DILI.git
