[submodule "indices/lipp"]
	path = indices/lipp
	url = https://github.com/Jiacheng-WU/lipp.git
[submodule "indices/DILI"]
	path = indices/DILI
	url = https://github.com/pfl-cs/DILI.git
[submodule "indices/DeLI"]
	path = indices/DeLI
	url = git@github.com:mattiaodorisio/DeLI.git
[submodule "indices/PGM-index"]
	path = indices/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
